@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "./phone-header.css";
@import "./phone-content.css";
@import "./phone-footer.css";

body {
    background: hsla(29, 13%, 39%, 0.205);
    font-family: "Rubik", sans-serif;
}

.info {
    font-size: 1.3rem;
    margin: 1rem;
}

.title {
    font-size: 2rem;
    margin: 2rem 0;
}

.info-text {
    color: rgba(0, 0, 0, 0.575);
    max-width: 25rem;
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.phone-parent-container {
    border: solid 0.5rem rgb(255, 255, 255);
    border-radius: 1.5625rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);

    height: 33.25em;
    width: 15.625em;

    margin-top: 1rem;
}

.phone-child-container {
    border-radius: 0.9375rem;  
    height: inherit;
}

.footer {
    margin: 2rem 0;
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
}

@media(max-width: 725px) {

    .small-only {
        display: block;
    }

    .container {
        flex-direction: column-reverse;
    }

    .title {
        text-align: center;
    }
}